body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #444;
    color: #FFFFFF;
    text-align: center;
}
.ktm{
    background-color: #F2771A;
    color: #1C1919;
    padding: 1em 0;
    text-align: center;
}
.yamaha{
    background-color: #0D47F7;
    color: #ffffff;
    padding: 1em 0;
    text-align: center;
}
.gasgas{
    background-color: #cb0d25;
    color: #ffffff;
    padding: 1em 0;
    text-align: center;
}
.fantic{
    background-color: #000000;
    color: #FFDE59;
    padding: 1em 0;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 60;
    text-align: center;
    background-color: #333;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1em;
    flex: 1;
}

section {
    margin-bottom: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.image-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-container {
    text-align: center;
    margin: 1em;
}

.image-container img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.image-container p {
    margin-top: 0.5em;
    font-weight: bold;
    font-size: 1.2em;
}

.catalogo h2 p {
    text-align: center;
}


.bike-image {
    width: 80%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 1em;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #444;
    color: white;
}
