body {
            font-family: Arial, sans-serif;
            background-color: #444444;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            text-align: center;
        }
        h1 {
            color: #aa00ff;
        }
        .buttons {
            margin-top: 20px;
        }
        .buttons a {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            background-color: #771CA8;
            padding: 10px 20px;
            margin: 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        .buttons a:hover {
            background-color: #8800cc;
        }
